body {
    background: url(../images/nav-bacground.jpg);
}

#content-menu {
    width: 1200px;
    height: 900px;
   /*background-color: #8dadc1;*/
    margin: 0 auto;
}

.eight-speeches {
    width: 12%;
    height: 36px;
    background-color: rgb(14, 52, 83);
    display: inline-block;
    border-radius: 5%;
    margin-left: 2px;
    margin-bottom: 30px;
}

.eight-speeches h3 {
    text-align: center;
    
}

#content-holder {
    width: 800px;
    height: 200px;
    border-radius: 5%;
    background-color: #324654;
    margin: 0 auto;
    overflow-y: scroll;
}

#content-holder h2, h3, p, li {
    text-align: center;
    color: white;
    padding: 1%;
}

#quiz-menu {
margin-bottom: 5px;
}
.eight-speeches-quiz {
    width: 12%;
    height: 36px;
    background-color: rgb(14, 52, 83);
    display: inline-block;
    border-radius: 5%;
    margin-top: 15px;
    margin-left: 2px;
    margin-bottom: 15px;
    
}

.left-about {
    float: left;
}
.right-about {
    float: right;
}

.quiz-header {
    text-align: center;
    color: white;
    border-color: #324654;
}
#quiz-content-holder {
    width: 550px;
    height: 225px;
    border-radius: 5%;
    background-color: #324654;
    margin: 0 auto;
    overflow-y: scroll;
}

#quiz-content-holder h2, h3, p, li {
    text-align: center;
    color: white;
    padding: 1%;
    
}

.holder-header {
    text-align: center;
    color: white;
}
.inner-div {
    margin: 0 auto;
}
.inner-div p, li {
text-align: center;
list-style: none;

}

.inner-div p { 
    margin: 0 auto;
   
      
  }
  .paragraphs {
    width: 240px;
    border: 2px solid rgb(77, 77, 113);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
   
  }
  
  .quiz-heading, p {
    text-align: center;
  }

  .left-about .score-area {
    text-align: center;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #324654;
    border-radius: 5%;
}

.right-about .score-area {
    text-align: center;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #324654;
    border-radius: 5%;
}

.scores {
    display: inline-block;
    padding: 25px;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.heading-class {
    margin: 0 auto;
}